@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

:root {
  --topMenuHeight: 100px;
  --bottomMenuHeight: 100px;
}

/* ----------------- */

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  outline: 0;
  box-shadow: none;
  border: 2px solid #ff9800;
  background-color: #ffffff;
}

.main {
  width: 100%;
  min-height: 100vh;
  /* display: flex; */
  /* background-color: #ebebeb; */
  background-color: #4b4b53;
}

/* ------- */
.layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
  display: none;
}

/* ------------------------------- */

/* Works on Firefox */
.program-main-grid {
  padding-bottom: 0.7rem;
  /* scrollbar-width: 0.3rem;
  scrollbar-color: rgb(223, 223, 223) rgb(179, 179, 179); */
}

/* Works on Chrome, Edge, and Safari */
/* .program-main-grid::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

.program-main-grid::-webkit-scrollbar-track {
  background: rgb(223, 223, 223);
  border-radius: 100vw;
}

.program-main-grid::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
  border-radius: 100vw;
} */

/* ------------------------------- */

.command-list-container {
  width: 13%;
  height: calc(100vh - (var(--topMenuHeight) + var(--bottomMenuHeight)));
  /* height: 85vh; */
  /* position: fixed; */
  padding: 0rem 0rem 0rem 1rem;
}

.command-list {
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
  background-color: #fafafb;
  overflow: auto;
}

.command-list-wrapper {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* .command-list-width-box {
  width: 13%;
  height: 85vh;
} */

.command-selector {
  min-width: 80%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 1rem 1rem 1rem 0.7rem;
  padding: 0.5rem 0.3rem 0.5rem 0.5rem;
  background-image: linear-gradient(#63656a, #585b60, #63656a);
  color: #fef7f5;
  cursor: grab;
  font-weight: 600;
  white-space: nowrap;
}

.command-selector:hover {
  transition: ease-in-out 0.15s;
  opacity: 0.4;
}

.command-selector i {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.5rem;
}

#kurikaeshi-selector {
  background-color: #E7E7EB !important;
  background-image: none;
  color: #585b60;
  border: solid #c2c2c2 5px;
}

#kurikaeshi-selector:hover {
  transition: ease-in-out 0.15s;
  opacity: 0.4;
}

#kurikaeshi-selector i {
  color: #585b60;
  margin-right: 0.5rem;
  font-size: 0.5rem;
}

/* ------------------------------- */
.center-section {
  display: flex;
  width: 100%;
  /* min-height: 85vh; */
  min-height: calc(100vh - (var(--topMenuHeight) + var(--bottomMenuHeight)));
}

.main-interface-section {
  display: flex;
  width: 87%;
  /* min-height: 85vh; */
  min-height: calc(100vh - (var(--topMenuHeight) + var(--bottomMenuHeight)));
}

/* ------------------------ */
.top-menu-container {
  /* min-height: 15vh; */
  height: var(--topMenuHeight);
  padding: 1rem 1rem;
  position: fixed;
  background-color: #4b4b53;
  width: 100%;
  z-index: 1500;
}

.top-menu-spacer {
  /* height: 15vh; */
  height: var(--topMenuHeight);
  width: 100%;
}

.top-menu {
  height: calc(var(--topMenuHeight) - 2rem);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
}

.top-menu-button {
  color: rgb(38, 43, 71);
  border: solid 2px rgba(38, 43, 71, 0);
  font-weight: bold;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.2rem 0.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 0 0 1rem;
  position: relative;
}

.top-menu-button i {
  margin-right: 0.2rem;
}

.top-menu-button:hover {
  border: solid 2px rgb(38, 43, 71);
  transition: ease 0.2s;
}

#top-menu-file-upload,
#top-menu-file-save {
  display: none;
}

/* .unpressed-nyuryoku-shingou {
}

.pressed-nyuryoku-shingou {
} */

/* ----------------------- */
.tannikannsann-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafb;
  width: 40%;
  height: 50%;
  border-radius: 0.7rem;
  z-index: 150000;
  padding: 1rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-popup {
  position: absolute;
  bottom: 100%;
  left: 100%;
  color: rgba(255, 255, 255, 0.8);
  /* text-shadow: 3px 4px 2px rgba(255, 105, 135, 0.3); */
  font-size: 1.6rem;
  cursor: pointer;
}

.close-popup:hover {
  transform: scale(1.1);
  transition: ease 0.1s;
}

/* -- */
.wizard-controller {
  height: 100%;
  width: 100%;
}

.tanni-wizard {
  height: 100%;
  width: 100%;
  position: relative;
}

.tanni-wizard input[type="text"] {
  text-align: center;
}

.tanni-wizard-title {
  position: absolute;
  top: 5%;
  left: 10%;
  font-weight: bold;
}

.tanni-wizard-selector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}

.tanni-wizard-buttons {
  position: absolute;
  bottom: 5%;
  right: 10%;
  z-index: 1;
}

.tanni-back {
  margin-right: 0.3rem !important;
}

/* -- */
.tanni-jiku {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.jiku-input-container {
  padding: 0.5rem;
}

.tanni-kikou {
  margin-left: 30%;
}
/* -- */
.tanni-susumi,
.tanni-bunkai {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.susumi-1,
.bunkai-1 {
  display: flex;
  align-items: center;
}
.susumi-1 p,
.bunkai-1 p {
  margin: 0 0.3rem;
}
.susumi-2,
.bunkai-2 {
  margin: 3rem 0 0 0;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}
.susumi-2 span,
.bunkai-2 span {
  font-weight: bold;
  font-size: 1rem;
}
/* -- */
.gensoku-selector {
  opacity: 0.4;
}

.gensoku-selector td {
  text-align: center;
}

/* -------------------------- */
.dropdown-selector {
  display: flex;
  align-items: center;
}

.dropdown-selector {
  position: relative;
}

.selected-item {
  font-size: 0.9rem;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.1rem;
  min-width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selected-item-smaller {
  font-size: 0.7rem;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 0.1rem;
  min-width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 2000;
}

.dropdown-items {
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: 0 2px 2px 1px rgba(255, 105, 135, 0.2);
  z-index: 3000;
  width: 100%;
  background-color: white;
}

.dropdown-item {
  font-size: 0.8rem;
  padding: 0.1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 4000;
}

.dropdown-item:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: ease 0.2s;
}

.dropdown-selector i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0 0.1rem;
}

.dropdown-selector i:hover {
  color: rgba(0, 0, 0, 0.8);
  transition: ease 0.2s;
}

/* ------------------------ */
.program-block-container {
  width: 75%;
  padding: 0 1rem 1rem 1rem;
  height: 100%;
}

.program-block {
  min-height: calc(85vh - 1rem);
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: white;
}

.enter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
  font-weight: bold;
}

/* ------------------------------- */
.cml-output-container {
  width: 25%;
  height: 100%;
  padding: 0rem 1rem 1rem 0rem;
}

.cml-output-section {
  min-height: calc(85vh - 1rem);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 0.4rem;
}

.cml-output-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cml-output-content h3 {
  margin: 0.5rem auto;
  width: max-content;
  font-size: 1.4rem;
  font-weight: bold;
}

.cml-editor-container {
  width: 100%;
}

/* .cml-editor {
  height: 1000px;
} */

.jikkou-button {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: fit-content; */
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}

#export-textfile {
  display: none;
}

/* .copy-cml-container {
  position: absolute;
  top: 60%;
  right: 10%;
  z-index: 90;
} */

.copy-cml {
  background-color: blue;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0 3px 4px 2px rgba(255, 105, 135, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.1rem;
  cursor: pointer;
}

.copy-cml:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.2);
}

.exp-copy,
.exp-box,
.exp-copy-done {
  z-index: 100;
  display: none;
  width: fit-content;
  min-height: fit-content;
  position: absolute;
  bottom: 95%;
  left: 100%;
  /* border: solid 1px rgba(0, 0, 0, 0.1); */
  /* -- */
  /* border-top: solid 1px rgba(0, 0, 0, 0.1); */
  /* border-left: solid 1px rgba(0, 0, 0, 0.1); */
  font-size: 0.7rem;
  font-weight: normal;
  text-align: center;
  padding: 0.2rem 0.3rem;
  /* color: rgba(0, 0, 0, 0.7); */
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: white;
  background-color: #585b60;
  border-radius: 0.2rem;
}

.exp-box {
  top: 115% !important;
  left: 40% !important;
}

.exp-copy-done {
  color: white;
  top: 50% !important;
  bottom: auto !important;
  transform: translate(0, -50%);
}

/* ===== */
.popup-instruction {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.popup-content {
  background-color: white;
  border-radius: 1rem;
  height: 30vh;
  min-width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-instruction img {
  height: 50vh;
}

.popup-neveragain {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.2rem;
  font-size: 0.9rem;
}

#close-instruction-popup {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  cursor: pointer;
  transform: translateX(50%);
  transition: ease 0.2s;
}

#close-instruction-popup:hover {
  opacity: 0.5;
}


/* ========================== */

.bottom-menu-container {
  /* min-height: 15vh; */
  height: var(--bottomMenuHeight);
  padding: 1rem 1rem;
  position: fixed;
  bottom: 0;
  background-color: #4b4b53;
  width: 100%;
  z-index: 150;
}

.bottom-menu-spacer {
  /* height: 15vh; */
  height: var(--bottomMenuHeight);
  width: 100%;
}

.bottom-menu {
  height: calc(var(--bottomMenuHeight) - 2rem);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1976D2;
  /* background-color: orange; */
  border-radius: 0.4rem;
  cursor: pointer;
}

.bottom-menu:hover {
  opacity: 0.7;
}

#bottom-menu-button-text {
  font-weight: 500;
  color: white;
  font-size: 20px;
}